@import '../../styles/variables.scss';


.SideNavigation {
  display: flex;
  color: #fff;
  height: calc(100vh - 3rem);


  position: fixed;
  top: 3rem;
  bottom: 0;
  left: 0;
  z-index: 8000;
  max-width: 20rem;
  transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
  will-change: width;

  & > div {
    position: relative;
  }
}

.TabNavigator {
  position: absolute;
  width: 3rem;
  margin-top: 3rem;
  
  z-index: 100;
  ul {
    display: flex;
    flex-direction: column;
    background-color: $background;
  }
}

.NavigationContent {
  position: absolute;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  background-color: $black; // $background;
  width: 100%;
  height: calc(100vh - 3rem);
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


