.navigation {
  // transform: translateX(-100%); 
  width: 0;
  &.open {
    width: 20rem;
  }
}
.navigation-content {
  transform: translateX(-100%); 
  transition: transform 0.11s cubic-bezier(0.2, 0, 1, 0.9);
  width: 17rem;
}
.open {
  .navigation-content {
    transform: translateX(0); 
  }
}

// In the future: 

// .item {
//   animation: animated 300ms ease-out;
// }

// @keyframes animated {
//   from {margin: 1rem 0}
//   to {margin: 0}
// }