@import "../../../styles/variables.scss";

.lf-ZoomPanel {
  position: absolute; 
  right: 0; 
  top: 12rem;
  z-index: 9000;
  // border-top: 1px solid $gray-70;
  // border-left: 1px solid $gray-70;
  // border-bottom: 1px solid $gray-70;
  background-color: $background;
}

.lf-ZoomPanel-indicator {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  color: $gray-30;
  user-select: none;
  &.maxedOut {
    color: $red-30;
    background-color: $red-80; 
  }
}