@import "../../../styles/variables.scss";

.lf-ZoomPanel {
  position: absolute; 
  right: 0; 
  top: 12rem;
  z-index: 9000;
  // border-top: 1px solid $gray-70;
  // border-left: 1px solid $gray-70;
  // border-bottom: 1px solid $gray-70;
  background-color: $background;

  &.small {
    margin: 0.375rem;
  }
  &.medium {
    margin: 0.25rem;
  }
}

.lf-ZoomPanel-indicator {
  // width: 3rem;
  // height: 3rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  color: $gray-30;
  user-select: none;
  &.maxedOut {
    color: $red-30;
    background-color: $red-80; 
  }
}

.large {
  .lf-ZoomPanel-indicator {
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
  }
}
.medium {
  .lf-ZoomPanel-indicator {
    font-size: 0.875rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
.small {
  .lf-ZoomPanel-indicator {
    font-size: 0.75rem;
    width: 2rem;
    height: 2rem;
  }
}