@import '../../../../../styles/variables.scss';

.LocateButton {
  width: 3rem;
  height: 3rem;

  background-color: $gray-70;

  &.auto-center--on.geolocation--on {
    background-color: $navigation-autocentermap-enabled-color;
  }
  &.auto-center--off.geolocation--on {
    background-color: $navigation-autocentermap-disabled-color;
  }

  button {
    padding: 0.8125rem;
  }


}

.LocateIcon {
  svg circle {
    transition: 300ms ease;
  }
}