$font-stack: sans-serif;

$black: #000000;
$gray-100: #151515;
$gray-90: #1a1a1a;
$gray-80: #333333;
$gray-70: #4d4d4d;
$gray-60: #666666;
$gray-50: #808080;
$gray-40: #9a9a9a;
$gray-30: #b3b3b3;
$gray-20: #cdcdcd;
$gray-10:#e6e6e6;
$white: #fff;


$primary-color: #0f62fe;
$secondary-color: #da1e28;
$tetrinary-color: $gray-30;

$background: $gray-100;

$danger-color: #da1e28;