@import '../../styles/variables.scss';

.fbr--tile {
  padding: 1rem;
  color: $gray-100;

  cursor: default;

  &--clickable {
    cursor: pointer;
  }


  &-label {
    display: block;
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.16px;
  }
  
  &-title {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0;
    // font-size: calc(1.25rem + 0 * (100vw - 20rem) / 62);
    display: block;
    max-width: 17.1875rem;
  }

  .action-icon {
    flex-shrink: 0;
    height: 1rem;
    position: absolute;
    right: 1rem;
    width: 1rem;
}
}


.LayerCard {
  // width: 100%;
  position: relative;
  color: $white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-left: 1px; 
  margin-bottom: 1px;
  margin-right: 1px; 
  text-decoration: none;
  transition: all 0.35s ease;
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  background-color: $gray-80;


}
