@import '../../styles/variables.scss';

.Icon {
  display: flex;
  &-12 {
    svg {
      width: 12px;
      height: 12px;
    }
  }
  &-16 {
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &-20 {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &-24 {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &-32 {
    svg {
      width: 32px;
      height: 32px;
    }
  }
  svg {
    fill: currentColor;
  }
}