@import "../../styles/variables.scss";

.lf-ZoomPanel {
  position: absolute; 
  right: 0; 
  top: 12rem;
  border-top: 1px solid $gray-70;
  border-left: 1px solid $gray-70;
  border-bottom: 1px solid $gray-70;
  background-color: $background;
}

.lf-ZoomPanel-indicator {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-10;
  color: $black;
  user-select: none;
  &.maxedOut {
    background-color: lighten($danger-color, 40%);
    color: $danger-color; 
  }
}