@import '../../../styles/variables.scss';


.Tab {
  border-bottom: 1px solid $gray-80;

  &:last-child {
    border: 0;
  }
}

.Console {
  .bx--tile > *, .bx--tile-content span div > *, #viewport-data > * {
    margin-bottom: 0.75rem;
  }
}