@import '../../styles/variables.scss';

.Logo {
  path {
    opacity: 0.66;
    transition: opacity 150ms ease;
  }
  
}
.Logo.filled {
  path {
    opacity: 1;
  }
}

.Header__global {
  position: static;
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  height: 100%;
  @media screen and (max-width: 42rem) {
    position: absolute;
    top: 0;
    right: 0;
    &.search-is-active {
      width: calc(100% - 3rem);
    }
  }
}