@import "../../styles/variables.scss";

.logo {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  color: $white;
  svg {
    width: 1.5rem;
    height: 1.5rem;

  }
}