@import '../../../../../styles/variables.scss';


.SearchBox {
  display: flex;
  width: 3rem;
  max-width: 35rem;
  position: relative;
  transition: width ease 150ms;
  &.expanded {
    background-color: $gray-80;
    outline: $white solid 2px;
    outline-offset: -2px;
    //width: 100%;
    flex: 1 1 100%;
  }

}
.SearchBox-Input {
  background-color: transparent;
  color: $gray-10;
  padding: 0;
  height: 100%;
  flex: 1 1 100%;
  display: flex;
  min-width: calc(100% - 6rem);
}

.SearchBox-Results {
  color: $white;
  position: absolute;
  top: 3rem;
  background-color: $gray-100;
  width: 100%;
  border: 1px $gray-80 solid;
  box-shadow: $elev-300;

  ul {
    padding: 0.5rem 0;
  }
  
}

.SearchBox-Result-item {
  height: 3rem;
  width: 100%;
  &.empty {
    padding: 1rem 0.75rem;
  }
  .Result-item__link {
    width: 100%;
    max-width: 100%;
    span {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}

.SearchBox-Result-group {
  color: $gray-30;
  font-size: 0.75rem;
  padding: 0.5rem 1rem 0.25rem;
}