.leaflet-control-attribution {
  display: none;
}
.leaflet-control-zoom {
  /* display: none; */
}

.leaflet-top {
  bottom: 10px;
}

.leaflet-bar {
  border: none;
}

.leaflet-container {
  top: 56px;
  height: calc(100vh - 56px);
  width: 100%;
}

header {
  position: absolute;
  width: 100%;
  height: 56px;
  
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #fff;
  height: 56px;
}
.group {
  display: flex;
  flex-wrap: nowrap;
  background-color: #171717;
  height: 48px;
}



/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* position: absolute; */
  
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #639; */
  cursor: pointer;
}