@import './styles/variables.scss';


.App {
  min-width: 20rem;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: $white;
  height: 3rem;
}
.group {
  display: flex;
  flex-wrap: nowrap;
  background-color: $black;
  height: 3rem;
}
.geo-not-enabled {
  position: absolute;
  top: 0;
  z-index: 100;
  background: $secondary-color;
}
