.leaflet-control-attribution,
.leaflet-control-zoom {
  display: none;
}

.leaflet-top {
  bottom: 10px;
}

.leaflet-bar {
  border: none;
}

.leaflet-container {
  top: 148px;
  height: calc(100vh - 48px);
  width: 100%;
}

header {
  position: absolute;
  width: 100%;
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.coords {
  top: 48px;
  position: absolute;
  z-index: 200;
}