@import "./styles/variables.scss";


.leaflet-top {
  bottom: 10px;
}

.leaflet-bar {
  border: none;
}

.leaflet-container {
  height: calc(100vh - 3rem);
  width: 100%;
  z-index: 0;
  background-color: $black;
}

body {
  overflow: hidden;
}
.App {
  // font-family: "HK Grotesk", sans-serif;
  min-width: 20rem;
}
header {
  position: absolute;
  width: 100%;
  min-width: 20rem;
  height: 3rem;
}

// Migrate to another styles in header

// #hamburger,
// #locator.bx--btn--secondary {
//   border-color: transparent;
//   background-color: transparent;
// }
// #hamburger:hover,
// #locator.bx--btn--secondary:hover {
//   border-color: transparent;
//   background-color: #4c4c4c;
// }
// #hamburger:active,
// #locator.bx--btn--secondary:active {
//   border-color: #d3d3d3;
//   background-color: transparent;
// }
// #hamburger:focus,
// #locator.bx--btn--secondary:focus {
//   border-color: $white;
//   // outline: 1px red;
//   background-color: transparent;
// }


.menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: $white;
  height: 3rem;
}
.group {
  display: flex;
  flex-wrap: nowrap;
  background-color: $black;
  height: 3rem;
}
.geo-not-enabled {
  position: absolute;
  top: 0;
  z-index: 100;
  background: $secondary-color;
}
