@import "./variables.scss";


li {
  list-style-type: none;
}
main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.lf-Map-container {
  width: 100%;
  height: 100%;
}
.bx--header ~ .bx--content {
  padding-top: 3rem;
  margin-top: 0;
}

/* CARBON OVERRIDES */

.bx--content {
  padding: 0;
}

.bx--side-nav {
  background-color: $black;
  color: $white;
  transition: transform 0.35s ease;
  overflow-y: auto;
  height: calc(100vh - 3rem);
  // max-width: 30rem;
  &.--expanded {
    width: 90rem;
  }
}


.bx--btn--icon-only::before {
  border-style: none;
}
.bx--btn--icon-only:focus svg {
  outline: none;
}

.bx--btn--icon-only::after,
.bx--btn--icon-only:hover::after {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
.bx--snippet-container {
  outline: none;
  code::-webkit-scrollbar {
    display: none;
  }
  code {
    -ms-overflow-style: none;
  }
}

