@import './styles/variables.scss';

body {
  overflow: hidden;
}
header {
  position: absolute;
  width: 100%;
  min-width: 20rem;
  height: 3rem;
}


main {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

input {
  font-size: 0.875rem;
  padding-left: 0.5rem;
  color: inherit;
  border: 0;
  &:focus {
    outline: 0;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* LEAFLET OVERRIDES */

.leaflet-top {
  bottom: 10px;
}

.leaflet-bar {
  border: none;
}

.leaflet-container {
  height: calc(100vh - 3rem);
  width: 100%;
  z-index: 0;
  background-color: $black;
}

.lf-Map-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  background: $gray-100;
  color: $gray-10;
  border-radius: 0;
  padding: 0.5rem;
  font-size: 0.75rem;


}
.leaflet-popup-close-button {
  // To-Do
  font-family: "IBM Plex" !important;
  
  color: $gray-30 !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
  padding: 0.25rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: $gray-80 !important;
  }
  &:active {
    background: $gray-60 !important;
  }
  &:focus {
    outline: 2px solid $white;
  }
}
// .leaflet-popup-content {
//   background: red;
// }
.leaflet-popup-tip-container {
  .leaflet-popup-tip {
    background: $gray-100;
  }
}




/* CARBON OVERRIDES */

// .bx--header__name--prefix {
//   font-size: 75%;
//   display: flex;
//   margin-right: 0.5rem;
//   svg {
//     height: 1em;
//     width: 6.0625em;
//   }
// }


.bx--content {
  padding: 0;
}

.bx--header ~ .bx--content {
  padding-top: 3rem;
  margin-top: 0;
}

.bx--side-nav {
  background-color: $black;
  color: $white;
  transition: transform 0.35s ease;
  overflow-y: auto;
  height: calc(100vh - 3rem);
  // max-width: 30rem;
  &.--expanded {
    width: 90rem;
  }
}
.bx--btn--icon-only {
  // background-color: inherit;
  transition: 300ms;
}

.bx--btn--icon-only::before {
  border-style: none;
}
.bx--btn--icon-only:focus svg {
  outline: none;
}

.bx--btn--icon-only::after,
.bx--btn--icon-only:hover::after {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.bx--btn--secondary {
  background-color: $background;
}

.bx--snippet-container {
  outline: none;
  code::-webkit-scrollbar {
    display: none;
  }
  code {
    -ms-overflow-style: none;
  }
}

