/* CARBON OVERRIDES */

.bx--content {
  padding: 0;
}



.bx--side-nav {
  background-color: #171717;
  color: #fff;
  transition: all .35s ease;
  overflow-y: auto;
  height: calc(100vh - 3rem);
}

li {
  list-style-type: none;
}



/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  /* position: absolute; */
  
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #639; */
  cursor: pointer;
}