$font-stack: sans-serif;

$black: #171717;
$gray-50: #3d3d3d;
$gray-40: #4c4c4c;
$gray-30: #858585;
$gray-20: #d3d3d3;
$gray-10:#f3f3f3;
$white: #fff;


$primary-color: #0f62fe;
$secondary-color: #da1e28;
$tetrinary-color: $gray-30;

$danger-color: #da1e28;