@import '../../styles/variables.scss';

.lf-Map-container {
  overflow: hidden;
  //margin-left: 0rem;
}

.lf-Map-container {
  &.ac-enabled {
    .circle {
      fill: $primary-color;
      stroke: none;
    }
    .circle-marker {
      fill: $primary-color;
      stroke: $white;
      fill-opacity: 1;
    }
  }
  &.ac-disabled {
    .circle {
      fill: $black;
      stroke: none;
    }
    .circle-marker {
      fill: $green-color;
      stroke: $white;
      fill-opacity: 1;
    }
  }
}

.circle-marker,
.circle {
  transition: fill, stroke 300ms;
}

// div.leaflet-bottom.leaflet-right {
//   display: none;
// }