@import '../../../styles/variables.scss';

.spbx--header ~ .spbx--content {
  padding-top: 3rem;
  margin: 0;
}

.spbx--content {
  // position: absolute;
  // height: 100%;
  padding: 0;
  background: $gray-100;
  will-change: margin-left;
}