html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lf--content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  background: #000;
  will-change: margin-left;
  overflow: hidden;
}

.lf--core {
  min-height: 100vh;
}