@import '../../../styles/variables.scss';

.target-checkbox {
  width: 100%;
  position: relative;
  color: $white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-decoration: none;
  transition: all 0.35s ease;
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}
.target-checkbox.active {
  // color: $primary-color;
  // background-color: $gray-10;
  background-color: $primary-color;
}
// .target-checkbox.active .target-checkbox-active-label {
//   position: absolute;
//   content: "";
//   border-left: 0.5rem solid $primary-color;
//   top: 0;
//   left: 0;
//   height: 100%;
// }

.target-checkbox.active:hover {
  color: $white;
  background-color: darken($primary-color, 10%);
}
.target-checkbox:hover {
  background-color: $gray-70;
}
.target-checkbox-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
}

.target-checkbox-title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
  font-size: calc(1.25rem + 0 * (100vw - 20rem) / 62);
  display: block;
  max-width: 17.1875rem;
}
.target-checkbox-option {
  position: absolute;
  color: $gray-30;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0;
  display: block;
  max-width: 17.1875rem;
}
.target-checkbox-desc {
  position: absolute;
  color: lighten($primary-color, 20%);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  display: block;
  max-width: 17.1875rem;
}

.active .target-checkbox-desc {
  color: darken($primary-color, 20%);
}

.target-checkbox-map-preview {
  margin-top: 0.75rem;
  height: 6rem;
  width: 8rem;
}