@import '../../../../styles/variables.scss';

.LocateButton {
  &.autocentermap-enabled {
    background-color: $navigation-autocentermap-enabled-color;
    &:hover {
      background-color: darken($navigation-autocentermap-enabled-color, 10%);
    }
    &:active {
      background-color: darken($navigation-autocentermap-enabled-color, 20%);
    }
  }
  &.autocentermap-disabled {
    background-color: $navigation-autocentermap-disabled-color;
    &:hover {
      background-color: darken($navigation-autocentermap-disabled-color, 10%);
    }
    &:active {
      background-color: darken($navigation-autocentermap-disabled-color, 20%);
    }
  }
  &.geolocation-off {
    background-color: $gray-70;
    &:hover {
      background-color: $gray-60;
    }
    &:active {
      background-color: $gray-50;
    }
  }
}